.input-output{
    font-size: 4em;
    text-align: center;
    transform: none;
    user-select: none;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
}
@media screen and (max-width: 767px){
    .input-output{
        transform: rotate(90deg);
    }
}